body{
  background-color:gray;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
}
.container{
  ba
}
.home{

}
.about{

}
.offers{

}
.advert{

}
.downloads{

}
.newsletter{

}
.footer{

}
.navbar{
  
}