body {
  background-color: gray;
  font-family: Poppins;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
*{
  box-sizing: border-box;
}
.home {
  display: flex;
  flex-direction: column;
  background-color: green;
}
.logodiv{
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-family: "";
  font-size: 20px;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blanchedalmond;
}
.navbar ul{
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
  flex: .7;
  font-size: 20px;
  font-weight: bolder;
  align-items: center;
}
.nav a{
  text-decoration: none;
  color: black;  
}
#toplogo{
  color: #f6b400;
}
.cartnav{
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding-left: 80px;
}
.navbar li{
  padding: 50px ;
  list-style: none;
}
.home1{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about {}

.offers {}

.advert {}

.downloads {}

.newsletter {}

.footer {}

.navbar {}