body {
  font-family: Poppins;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
}

.home {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  background: linear-gradient(-78.2deg, #f6b400 50%, white 50%);
}

.logodiv {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-family: "";
  font-size: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: .7;
  font-size: 22px;
  font-weight: bolder;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: black;
}

#toplogo {
  color: #f6b400;
}

.cartnav {
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding-left: 100px;
}

.navbar li {
  padding: 10px 50px;
  list-style: none;
}

#active1 {
  text-decoration: underline;
  text-decoration-thickness: 10px;
  text-underline-offset: 8px;
  text-decoration-color: #f6b400;
}

.home1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.rain {
  font-size: 42px;
}

.cook {
  font-size: 19px;
}

.order {
  font-size: 18px;
  color: white;
  background-color: #f6b400;
  border-radius: 30px 30px 0px 30px;
  border: none;
  padding: 15px 22px;
  margin-top: 30px;
  margin-left: 40px;
}

.image1 img {
  padding-left: 25%;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 13% 5% 7% 5%;
  background-color: whitesmoke;
}

.writing {
  font-size: 34px;
  color: #5c2a00;
}

.quality2 {
  border: 1px solid #5c2a00;
  border-radius: 25px;
  flex-basis: 30%;
}

.quality1 {
  border: 1px solid #5c2a00;
  padding: 30px 30px 0px 30px;
  border-radius: 25px;
}

.bell,
.truck,
.food {
  height: auto;
  width: 50%;
}

.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 1px;
  row-gap: 50px;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px 0px 120px 0px;
}

.quality {
  padding: 40px 0px;
  width: 27%;
  border-radius: 50px;
  box-shadow: 0 4px 7px 0 rgb(0, 0, 0, .5);
  font-size: 20px;
}

.quality img {
  width: 90%;
}

#casht {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0px 50px;
}

.our {
  text-decoration-line: underline;
  text-decoration-color: #f6b400f3;
  text-decoration-thickness: 12px;
  text-underline-offset: 5px;
  text-align: center;
  margin-top: 150px;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 60px;
}

.cartian {
  background-color: #e1ebe6;
  padding: 5px 40px;
  font-size: 26px;
  border: none;
  border-radius: 25px;
}

.menu {
  color: #f6b400;
}

.fa-shopping-cart {
  color: rgb(8, 8, 8);
}

.advert {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  align-items: center;
  padding: 100px 50px 30px 50px;

}

.deck {
  font-size: 25px;
  padding: 30px;
  flex-basis: 70%;
}

.rounds {
  margin-top: 150px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.round {
  border: none;
  background-color: gray;
  padding: 13px;
  border-radius: 50%;
}

.round1 {
  border: none;
  background-color: #FFA500;
  padding: 13px;
  border-radius: 50%;
}

.arrow {
  font-size: 110px;
  color: #f6b400;
  text-align: center;
  padding-bottom: 35px;
}

.overlap {
  position: relative;
  top: 0;
  left: 0;
}

.dcheck1 {
  position: relative;
  top: 0;
  left: 50px;
  width: 70%;
}

.dcheck2 {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 60%;
}

.downloads {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6b400;
  padding: 6% 0%;
}

.appdownload {
  display: flex;
  padding: 10% 0% 0% 2%;
  align-items: center;
  flex-basis: 50%;
}

.phonedisplay {
  display: flex;
  align-items: center;
}

.downloadtext {
  font-size: 55px;
  font-weight: 900;
  padding-left: 8%;
}

.pic {
  float: right;
  width: 100%;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 0% 2%;
}

.per {
  font-size: 24px;
  margin-bottom: 0%;
}

.subscribe {
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex-basis: 39%;
}

.site li {
  padding-left: 10%;
  padding-top: 10%;
}

.sitemap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 30%;
  font-size: 18px;
  font-weight: 595;
  text-align: left;
  justify-content: space-around;
}

.sitemap li {
  list-style: none;
}

.sitemap a {
  text-decoration: none;
  color: black;
}

.logo {
  display: inline;
}

.footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}

.social {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  flex-basis: 20%;
}

input[type=text],
input[type=submit] {
  margin: 8px 0;
  display: inline;
  border: 1px solid gray;
}

input[type=text] {
  border-radius: 8px 0 0 8px;
  float: left;
  padding: 5% 150px 5% 30px;
  font-size: 16px;

}

input[type=submit] {
  background-color: #f6b400;
  color: white;
  border: none;
  padding: 4% 40px 4.6% 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.logof {
  display: flex;
}

.playstore {
  background-image: url("img/Playstore.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: transparent;
  padding: 25% 30% 30% 21%;
}

.appstore {
  width: 50%;
  height: 60px;
  background-image: url("img/Appstore.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: transparent;
  margin-bottom: 4%;
}

.store {
  padding: 14%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.taste {
  padding-left: 4%;
}

.count {
  font-size: 28px;
  background-color: #e1ebe6;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 25px;
}

#two {
  padding: 15px 6px;
}

.buttonc {
  background-color: transparent;
  border-color: transparent;
  padding: 0px 25px;
}

.ribbon {
  position: absolute;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
  padding-left: 26.8%;
  padding-top: 0%;
}

.ribbon span {
  font-size: 14px;
  color: #FFF;
  text-align: center;
  line-height: 30px;
  transform: rotate(45deg);
  width: 150px;
  display: block;
  background-color: #ff5e00;
  position: absolute;
  top: 10px;
  right: -19px;
}